<li id="<%= dom_id(user) %>" >
	
  <%= link_to user.name, user, class: link_style(user.name) %> 


	<%= button_to 'Delete', user,
               method: :delete,
               remote: true %>

</li>

